.btn {
	background-color: darkcyan; 
	color: white;
}

.btn-doc-action, .btnAppointmentRequest, .btnAppointmentViewProfile, .btnClearGoal .btnEndSession {
	background-color: lightgray;
	border-color: gray;
	color: black;
}

.pink {
	background-color: deeppink;
}

.activateSession {
	color: #0275d8;
	cursor: pointer;
}

table,
th,
td {
	padding: 5px 8px;
  /*border: 1px solid #666;
  border-collapse: collapse;*/
}

tr {
	margin-top: 20px;
	margin-bottom: 20px;
}

td {
	border-bottom: 1px solid #ccc;
}

#datepicker {
	margin-left: 15px;
}

.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

#leftCol, #centerCol, #rightCol {
	height: 100%;
}

.strikethroughtext {
	text-decoration: line-through;
	color:#666;
}

#timer {
	margin-left: 10px;
}

.text-center {
	margin-bottom: 10px;
}